body{
    background-color: rgb(38, 0, 255);
}
h2.titulo2{
    font-size: 2.3em;
    text-align: center;
    background-color: red;
}
h1.titulo1{
    font-size: 2.5em;
    color: rgb(219, 130, 13);
    text-align: center;
}
p.pa{
    font-size: 1.4em;
}
p.pc{
    font-size: 1.4em;
}
p{
    color: rgb(219, 130, 13);
}
div{
    border-left: solid;
    margin-left: 10px;
}